/* HomePage.css */
.homepage {
    background-color: black;
    color: white;
    height: 100vh; /* 화면 전체 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
